@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&family=DM+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #0a0a0f;
    min-height: 100vh;
    color: #e8e8f0;
    overflow-x: hidden;
    padding: 10px;
    
}

.bg {
    position: fixed;
    inset: 0;
    z-index: 0; 
    pointer-events: none;
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.18;
}

.blob1 {
    width: 400px;
    height: 400px;
    background: #6c63ff;
    top: -100px;
    left: -100px
}

.blob2 {
    width: 350px;
    height: 350px;
    background: #00dfaa;
    top: -80px;
    left: -80px;
}

.blob3 {
    width: 250px;
    height: 250px;
    background: #ff6b9d;
    top: 40%;
    left: 50%;
}

.app {
    position: relative;
    z-index: 1;
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-left:0 ;
    margin-left: 0;
}

.logo {
    font-family:  "Syne", sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    padding-left: 5px;
    letter-spacing: -0.5px;
}

.logo span {
    color : #6c63ff
}

.add-btn {
    background: #6c63ff;
    color: #fff;
    border:none;
    padding: 0.55rem 1.2rem;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.88rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.add-btn:hover {background: #574fd6;}

.stats {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem
}

.stat {
    flex: 1;
    background-color: rgba(255,255,255,0.04);
    border-radius: 12px;
    padding: 0.75rem 1rem;
    text-align: center;
}

.stat-num {
    font-family: "Syne", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.stat-label {
    font-size: 0.72rem;
    color: rgba(255,255,255,0.35);
    margin-top: 2px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.s-purple {color: #a89eff}
.s-teal {color: #00d4aa}
.s-pink {color: #ff6b9d}

.filters {
    display: flex;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.filter-btn {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.12);
    background: rgba(255,255,255,0.05);
    color: rgba(255,255,255,0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 0.82rem;
    cursor: pointer;
    transition: all 0.2s;
}

.filter-btn.active {
    background: rgba(108,99,255,0.25);
    border-color: rgba(108,99,255,0.5);
    color: #a89eff;
}

.tasks {
    display: flex ;
    flex-direction: column;
    gap: 12px;
}

.task-card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 1.1rem 1.3rem;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    transition: border-color 0.2s, background 0.2s;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}

.task-card:hover {
    background: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.18);
}

.task-card.done { opacity: 0.5; }

.check-wrap { padding-top: 2px; }

.check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.2);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    flex-shrink: 0;
}

.check.checked {
    background: #00d4aa;
    border-color: #00d4aa;
}

.check.checked::after {
    content: '✓';
    font-size: 11px;
    color: #0a0a0f;
    font-weight: 700;
}

.task-body { flex: 1; }

.task-title {
    font-size: 0.95rem;
    font-weight: 500;
    color: #e8e8f0;
    margin-bottom: 3px;
}

.task-card.done .task-title {
    text-decoration: line-through;
    color: rgba(255,255,255,0.35);
}

.task-desc {
    font-size: 0.8rem;
    color: rgba(255,255,255,0.4);
}

.task-actions {
    display: flex;
    gap: 6px;
    align-items: center;
}

.icon-btn {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.04);
    color: rgba(255,255,255,0.4);
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.18s;
}

.icon-btn:hover {
    background: rgba(255,80,80,0.15);
    color: #ff6b6b;
    border-color: rgba(255,80,80,0.2);
}

.form-card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-title {
    font-family: 'Syne', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #e8e8f0;
    margin-bottom: 0.5rem;
}

.form-input {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 10px;
    padding: 0.75rem 1rem;
    color: #e8e8f0;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.2s;
}

.form-input::placeholder { color: rgba(255,255,255,0.25); }
.form-input:focus { border-color: rgba(108,99,255,0.5); }

.form-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.cancel-btn {
    background: rgba(255,255,255,0.06);
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 0.55rem 1.2rem;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.88rem;
    cursor: pointer;
    transition: all 0.2s;
}

.cancel-btn:hover { background: rgba(255,255,255,0.1); }